<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

</head>
<body>
<th:block th:insert="/Admin/Header.html"></th:block>


        <div class="content-body">

                    <div class="col-lg-12 col-sm-6">
                        <div class="card">
                            <div class="stat-widget-two card-body">
                                <div class="stat-content">
                                    <div class="container-fluid">
			<div class="card-header text-center bg-primary text-white "><h5 class="text-white">Brands Form</h5></div>
			
			<div class="card-body">
			
			<form action="/Admin/Brands/add" method="post">
			
				<div class="row p-2">
			      <div class="col-4 text-dark">Category</div>
			      <div class="col-6">
			      <select name="category" class="form-control">
			      <option value="">Select</option>
			      <option th:each="c:${catlist}" th:value="${c.categoryname}">[[${c.categoryname}]]</option>
			      </select>
			      </div>
			   </div>
			   
			   <div class="row p-2">
			      <div class="col-4 text-dark">Brands Name</div>
			      <div class="col-6">
			          <input type="text" name="bname" class="form-control">
			      </div>
			   </div>
			   
			   <div class="row p-2">
			      <div class="col-4"></div>
			      <div class="col-6">
			          <input type="submit" value="Add" class="btn btn-success btn-lg">
			      </div>
			   </div>
			   
			</form>  
			   
			</div>
			
		</div>

	</div>


</div>
</div>
</div>
</div>
<th:block th:insert="/Admin/Footer.html"></th:block>

</body>
</html>