<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Admin Dashboard </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/focus-2./images/favicon.png">
    <link rel="stylesheet" href="/focus-2./vendor/owl-carousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/focus-2./vendor/owl-carousel/css/owl.theme.default.min.css">
    <link href="/focus-2./vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet">
    <link href="/focus-2./css/style.css" rel="stylesheet">



</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="/Admin/Index" class="brand-logo">

                            <h4 class=" text-white brand-title">Ecome</h4>
                            <h4 class=" text-white logo-abbr">#</h4>
                            
                            
                
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                            <div class="search_bar dropdown">
                                <span class="search_icon p-3 c-pointer" data-toggle="dropdown">
                                    <i class="mdi mdi-magnify"></i>
                                </span>
                                <div class="dropdown-menu p-0 m-0">
                                    <form>
                                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                                    </form>
                                </div>
                            </div>
                        </div>

                        <ul class="navbar-nav header-right">
                            <li class="nav-item dropdown header-profile">
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                    <i class="mdi mdi-account"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="/Index" class="dropdown-item">
                                        <i class="icon-key"></i>
                                        <span class="ml-2">Logout </span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="quixnav">
            <div class="quixnav-scroll">
                <ul class="metismenu" id="menu">
                    
                      <li class="nav-label first">Index</li>
                     <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-single-04"></i><span class="nav-text">Slider</span></a>
                        <ul aria-expanded="false">
                            <li><a href="/Admin/Slider/add/">ADD</a></li>
                            <li><a href="/Admin/Slider/list/">List</a></li>
                        </ul>
                    </li>
                    

                      <li class="nav-label first">Create</li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-single-04"></i><span class="nav-text">Category</span></a>
                        <ul aria-expanded="false">
                            <li><a href="/Admin/Category/add/">ADD</a></li>
                            <li><a href="/Admin/Category/list/">List</a></li>
                        </ul>
                    </li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-single-04"></i><span class="nav-text">Brands</span></a>
                        <ul aria-expanded="false">
                            <li><a href="/Admin/Brands/add/">ADD</a></li>
                            <li><a href="/Admin/Brands/list/">List</a></li>
                        </ul>
                    </li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-single-04"></i><span class="nav-text">Product</span></a>
                        <ul aria-expanded="false">
                            <li><a href="/Admin/Product/add/">ADD</a></li>
                            <li><a href="/Admin/Product/list/">List</a></li>
                        </ul>
                    </li>
                    
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-single-04"></i><span class="nav-text">Sell</span></a>
                        <ul aria-expanded="false">
                            <li><a href="/Admin/Sell/list/">List</a></li>
                        </ul>
                    </li>
                    
                    					                    
                    
                    

                </ul>
            </div>


        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->
